<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Users list</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .users td {
            border: 1px solid #000000;
            padding: 15px;
        }
    </style>
</head>
<body>
<h1>Users:</h1>

<table class="users">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Vitya</td>
        <td>15</td>
    </tr>
    </tbody>
</table>
</body>
</html>
